@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 56% 91%;
    --foreground: 25 30% 20%;
    --card: 60 56% 93%;
    --card-foreground: 25 30% 20%;
    --popover: 60 56% 91%;
    --popover-foreground: 25 30% 20%;
    --primary: 25 56% 38%;
    --primary-foreground: 25 50% 96%;
    --secondary: 45 40% 85%;
    --secondary-foreground: 25 30% 20%;
    --muted: 45 40% 85%;
    --muted-foreground: 25 30% 40%;
    --accent: 81 60% 34%;
    --accent-foreground: 80 100% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 30 40% 80%;
    --input: 30 40% 80%;
    --ring: 25 56% 38%;
    --chart-1: 25 56% 38%;
    --chart-2: 81 60% 34%;
    --chart-3: 30 50% 50%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 60 56% 91%;
    --sidebar-foreground: 25 30% 20%;
    --sidebar-primary: 25 56% 38%;
    --sidebar-primary-foreground: 25 50% 96%;
    --sidebar-accent: 45 40% 85%;
    --sidebar-accent-foreground: 25 30% 20%;
    --sidebar-border: 30 40% 80%;
    --sidebar-ring: 25 56% 38%;
  }
  .dark {
    --background: 25 10% 10%;
    --foreground: 60 30% 92%;
    --card: 25 10% 12%;
    --card-foreground: 60 30% 92%;
    --popover: 25 10% 10%;
    --popover-foreground: 60 30% 92%;
    --primary: 25 56% 42%;
    --primary-foreground: 25 50% 96%;
    --secondary: 25 10% 20%;
    --secondary-foreground: 60 30% 92%;
    --muted: 25 10% 20%;
    --muted-foreground: 60 30% 60%;
    --accent: 81 60% 38%;
    --accent-foreground: 80 100% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 25 10% 25%;
    --input: 25 10% 25%;
    --ring: 25 56% 45%;
    --sidebar-background: 25 10% 10%;
    --sidebar-foreground: 60 30% 92%;
    --sidebar-primary: 25 56% 42%;
    --sidebar-primary-foreground: 25 50% 96%;
    --sidebar-accent: 25 10% 20%;
    --sidebar-accent-foreground: 60 30% 92%;
    --sidebar-border: 25 10% 25%;
    --sidebar-ring: 25 56% 45%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
